
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
    font-family: 'Segoe UI', Roboto, sans-serif;
    overflow-x: hidden;
}


.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #222 0%, #000000 70%);
    position: relative;
    text-align: center;
}

.hero-content {
    z-index: 2;
    margin-bottom: -50px;
}

h1 {
    font-size: 5rem;
    margin: 0;
    letter-spacing: -2px;
    font-weight: 900;
}

.red-text {
    color: #c92233;
    text-shadow: 0 0 30px rgba(230, 33, 23, 0.5);
}

.year {
    font-size: 1.5rem;
    color: #ff0000;
    letter-spacing: 10px;
    margin-top: 10px;
}

.main-car {
    width: 80%;
    max-width: 900px;
    filter: drop-shadow(0 20px 50px rgba(0,0,0,0.9));
    z-index: 1;
    transition: transform 0.5s;
}

.main-car:hover {
    transform: scale(1.05);
}


.container {
    max-width: 1100px;
    margin: -100px auto 50px;
    position: relative;
    z-index: 3;
    padding: 20px;
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(10px);
    padding: 35px;
    border-radius: 20px;
    border: 1px solid #333;
    text-align: left;
    transition: 0.3s;
}

.card h3 {
    font-size: 0.8rem;
    color: #888;
    margin: 0;
    letter-spacing: 2px;
}

.val {
    font-size: 2.2rem;
    font-weight: 900;
    margin: 10px 0;
}

.desc {
    color: #666;
    margin: 0;
}


.red-glow:hover { border-color: #e62117; box-shadow: 0 0 30px rgba(230, 33, 23, 0.3); }
.blue-glow:hover { border-color: #2196f3; box-shadow: 0 0 30px rgba(33, 150, 243, 0.3); }
.cyan-glow:hover { border-color: #00bcd4; box-shadow: 0 0 30px rgba(0, 188, 212, 0.3); }


.about-section {
    margin-top: 80px;
    padding: 40px;
    background: linear-gradient(to right, #151515, transparent);
    border-radius: 20px;
}

.line {
    width: 60px;
    height: 4px;
    background: #e62117;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 50px;
    color: #444;
}
